<!DOCTYPE html>
{% load static %}

    <html lang="en">
    <head>
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Регистрация</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">
        <link rel="stylesheet" type="text/CSS" href="{% static 'css/reg.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <style>
        body{
        background-image : url("{% static '/img/img.jpg' %}");
                        
                        background-repeat: no-repeat;
                        height:110vh;
                        background-size:200vh;
                        background-position:center;
        }
        </style>

    <body>
    {% block content %}

    {% if messages %}
        <div class="messages" style="max-width: 400px; margin: 0 auto 15px auto;">
            {% for message in messages %}
                <div class="error {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="reg__cont">
        <form method="POST" class="reg__form">
            {% csrf_token %}
            <div class="form">
                
                <div class="logo">
                    <h1>Регистрация</h1>
                </div>
                <div class="form__group">
                    {{ form.first_name }}
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="form__group">
                    {{ form.last_name }}
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="form__group">
                    {{ form.username }}
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="form__group">
                    {{ form.email }}
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="form__group">
                    {{ form.password1 }}
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="form__group">
                    {{ form.password2 }}
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="reg__btn" style="color:black">
                    <p>Создавая аккаунт вы соглашаетесь на правила сайта
                        <div class="">
                            <a href="/license/"> Правила пользования</a>
                        </div>
                        {{ form.agree_to_terms }}
                    </p>
                    <div>
                        <input type="submit" name="reg-btn" value="Зарегистрироваться">
                        <a href="{% url 'users:login'%}" class="enter">Войти</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {%endblock content%}
    </body>
</html>